.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #020617, #0f172a);
  color: white;
}

.hero {
  text-align: center;
  max-width: 600px;
}

.hero span {
  color: #38bdf8;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
