.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
  background: #0f172a;
  color: white;
}

.logo span {
  color: #38bdf8;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar li {
  cursor: pointer;
  font-weight: 500;
}

.navbar li:hover {
  color: #38bdf8;
}

.export-btn {
  background: #38bdf8;
  color: #020617;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.export-btn:hover {
  background: #0ea5e9;
}
